Concert Manager/Assignment5Part2/App_WebReferences/CardReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar25.fulton.asu.edu/page7/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar25.fulton.asu.edu/page7/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_validateCreditCard_InputMessage">
    <wsdl:part name="parameters" element="tns:validateCreditCard" />
  </wsdl:message>
  <wsdl:message name="IService1_validateCreditCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_typeOfCard_InputMessage">
    <wsdl:part name="parameters" element="tns:typeOfCard" />
  </wsdl:message>
  <wsdl:message name="IService1_typeOfCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:typeOfCardResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSuggestedRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:getSuggestedRoute" />
  </wsdl:message>
  <wsdl:message name="IService1_getSuggestedRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSuggestedRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDirections_InputMessage">
    <wsdl:part name="parameters" element="tns:getDirections" />
  </wsdl:message>
  <wsdl:message name="IService1_getDirections_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDirectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEarthquakeProbability_InputMessage">
    <wsdl:part name="parameters" element="tns:getEarthquakeProbability" />
  </wsdl:message>
  <wsdl:message name="IService1_getEarthquakeProbability_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEarthquakeProbabilityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="validateCreditCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/validateCreditCard" message="tns:IService1_validateCreditCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/validateCreditCardResponse" message="tns:IService1_validateCreditCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="typeOfCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/typeOfCard" message="tns:IService1_typeOfCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/typeOfCardResponse" message="tns:IService1_typeOfCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSuggestedRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSuggestedRoute" message="tns:IService1_getSuggestedRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSuggestedRouteResponse" message="tns:IService1_getSuggestedRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDirections" message="tns:IService1_getDirections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDirectionsResponse" message="tns:IService1_getDirections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEarthquakeProbability">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEarthquakeProbability" message="tns:IService1_getEarthquakeProbability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEarthquakeProbabilityResponse" message="tns:IService1_getEarthquakeProbability_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validateCreditCard">
      <soap:operation soapAction="http://tempuri.org/IService1/validateCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="typeOfCard">
      <soap:operation soapAction="http://tempuri.org/IService1/typeOfCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSuggestedRoute">
      <soap:operation soapAction="http://tempuri.org/IService1/getSuggestedRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <soap:operation soapAction="http://tempuri.org/IService1/getDirections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEarthquakeProbability">
      <soap:operation soapAction="http://tempuri.org/IService1/getEarthquakeProbability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar25.fulton.asu.edu/page7/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>